@keyframes float {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: -10%;
  animation: float linear infinite;
}

/* Gradient background movement */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}
